.gravatar {
    border-radius:125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .project img {
        height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .project img {
        height:40px;
    }
}

@media screen and (min-width: 1200px) {
    .project img {
        height: 50px;
    }
}

.project img {
    width: auto;
}
