.dropdown-menu {
    border-radius: 0 !important;
}
.jumbotron {
    border-radius: 0 !important;
}
.panel {
    border-radius: 0 !important;
}
.panel-primary {
    border-color: #34495E !important;
}
.panel-heading {
    background: #34495E !important;
    border-color: #34495E !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.gravatar {
    border-radius:125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:767px){
    .gravatar {
        height:125px;
    }
}

@media(min-width:768px){
    .gravatar {
        height:150px;
    }
}

@media(min-width:992px){
    .gravatar {
        height:175px;
    }
}

@media(min-width:1200px){
    .gravatar {
        height:200px;
    }
}
