.navbar{
    margin: 0;
}

.gravatar {
    border-radius:125px;
    display: block;
    margin-left: auto;
}

@media(max-width:767px){
    .gravatar {
        height:100px;
    }
}

@media(min-width:768px){
    .gravatar {
        height:125px;
    }
}

@media(min-width:992px){
    .gravatar {
        height:140px;
    }
}

@media(min-width:1200px){
    .gravatar {
        height:150px;
    }
}
